<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div id="container">
      <strong>HOLA</strong>
      <ul *ngIf="user">
        <li>
          {{user.Name}}
        </li>
      </ul>
      <div id="container2">
        <p>¿QUE DESEAS HACER?</p>
        <ion-list>
          <ion-item button [routerLink]="['/report']" disabled>
            <ion-label>Reportes</ion-label>
            <ion-icon name="reader"></ion-icon>
          </ion-item>

          <ion-item button [routerLink]="['/inventory']">
            <ion-label>
              Productos Quimicos
            </ion-label>
            <ion-icon name="clipboard-sharp"></ion-icon>
          </ion-item>

          <ion-item button *ngIf="rol == 'Administrador'" [routerLink]="['/usermanagement']">
            <ion-label>
              Gestion de Usuarios
            </ion-label>
            <ion-icon name="people-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <link rel="stylesheet" type="image/png" href="/src/assets/icon/LOGO.png">
  <ion-footer>
    <div id="container1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 style="color: chartreuse;">Atención:</h1>
        </ion-col>
        <ion-col>
          <h1 style="color: chartreuse;">
            Empresa:
          </h1>
        </ion-col>
        <ion-col>
          <h1 style="color: chartreuse;">
            Version:
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item button [routerLink]="['/contact']">
            <ion-label> Contacto</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item button target="_blanck" [href]="['https://mail7.correopremium.com/SOGo']">
            <ion-label> Correos</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          2.4.5.14622
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-footer>